
<!DOCTYPE html>
<!--[if IE 7]> <html class="ie7"> <![endif]-->
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="EN">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />

  
  <title>Failaka/Dilmun: The Second Millennium Settlements. Danish Archaeological Investigations in Kuwait</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
    <meta name="robots">
  <meta property="og:title" content="Failaka/Dilmun: The Second Millennium Settlements. Danish Archaeological Investigations in Kuwait Aarhus University Press" />
  <meta property="og:site_name" content="Aarhus Universitetsforlag" />
  <meta property="og:url" content="https://en.unipress.dk/udgivelser/f/failakadilmun-the-second-millennium-settlements-danish-archaeological-investigations-in-kuwait/" />

  <link rel="canonical" href="https://en.unipress.dk/udgivelser/f/failakadilmun-the-second-millennium-settlements-danish-archaeological-investigations-in-kuwait/" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script type="text/javascript">
    var unipress = unipress || {};
    unipress.settings = {
      cultureName: 'en-US'
    };
  </script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }

    gtag('consent', 'default', {
      'ad_storage': 'denied',
      'ad_user_data': 'denied',
      'ad_personalization': 'denied',
      'analytics_storage': 'denied',
      'wait_for_update': 500
    });
    gtag('set', 'ads_data_redaction', true);
    gtag('set', 'url_passthrough', true);
  </script>

  <script id="CookieConsent" data-culture="EN" type="text/javascript" data-gcm-version="2.0" src="https://policy.app.cookieinformation.com/uc.js"></script>

    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-W5F8D22');</script>

  <link rel="stylesheet" href="/wwwroot/unipress.css?v=26112025" />

  <script src="https://use.typekit.net/vea7cca.js"></script>
  <script>try { Typekit.load({ async: false }); } catch (e) { }</script>
  <script type="text/javascript" data-dojo-config="usePlainJson: true, isDebug: false" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js"></script>
</head>

<body id='frontpage' ng-app="unipress" class="segment-unipress" itemscope='itemscope' itemtype="http://schema.org/ItemPage">
   


<div id='wrapper'>
  
<header class="page-head" id="masthead">
  <a href="/" title="Forside" class="logotype en">Aarhus Universitetsforlag</a>

  <ul class="tools">
      <li class="share-instagram tool-btn">
        <a href="https://www.instagram.com/aarhusuniversitetsforlag" title="Instagram">
          <div class="icon-instagram"></div>
        </a>
      </li>
      <li class="share-facebook tool-btn">
        <a href="https://www.facebook.com/AarhusUniversitetsforlag" title="Facebook">
          <div class="icon-facebook"></div>
        </a>
      </li>
      <li class="share-twitter tool-btn">
        <a href="https://twitter.com/AarhusUniPress" title="Twitter">
          <div class="icon-twitter"></div>
        </a>
      </li>
        <li class="tool-btn switch-language">
            <a href="https://unipress.dk/udgivelser/f/failakadilmun-the-second-millennium-settlements-danish-archaeological-investigations-in-kuwait/">
              <span>
                In Danish
              </span>
            </a>
        </li>
      <li class="tool-btn basket">
        
<mini-basket class="tool-container" ng-cloak>
  <a href class="mini-basket-trigger" ng-click="miniBasket.toogle()">
    <div class="icon-basket"></div>
    <span>Basket</span>
    <div ng-if="miniBasket.model.totalQuantity > 0" class="mini-basket-count">{{miniBasket.model.totalQuantity}}</div>
  </a>

  <div class="currency-picker">
    <button class="btn" ng-class="{'current' : cur.id==miniBasket.currencyId}" ng-repeat="cur in miniBasket.currencies" ng-click="miniBasket.changeCurrency(cur.id)">{{cur.name}}</button>
  </div>

  <div class="mini-basket-overlay" ng-if="miniBasket.isVisible">
    <div class="mini-basket" click-outside="miniBasket.close()" outside-if-not="another-class">
      <div ng-if="miniBasket.model.orderLines.length > 0">
        <h3 class="heading">Varer i din kurv</h3>
        <ul class="mini-basket-products clearfix">
          <li class="product" ng-repeat="orderLine in miniBasket.model.orderLines">
            <a class="product-link" href="#">
              <img class="product-image" ng-src="{{orderLine.image}}?width=80" />
            </a>
            <div class="product-info">
              <h3 class="product-title">
                {{orderLine.title}}
              </h3>
              <div class="remove-from-basket" ng-click="miniBasket.removeProduct(orderLine)">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                  <defs>
                    <style>
                      .cls-2 {
                        fill: #f11;
                        fill-rule: evenodd;
                      }
                    </style>
                  </defs>
                  <path class="cls-2" d="M11.016 9.416a.866.866 0 0 0-.25-.607L8.14 6.184l2.626-2.625a.862.862 0 0 0 0-1.214L9.552 1.132a.862.862 0 0 0-1.214 0L5.713 3.757 3.09 1.132a.862.862 0 0 0-1.215 0L.66 2.346a.862.862 0 0 0 0 1.214l2.625 2.625L.66 8.81a.862.862 0 0 0 0 1.213l1.215 1.214a.862.862 0 0 0 1.214 0l2.623-2.624 2.624 2.624a.862.862 0 0 0 1.214 0l1.215-1.214a.866.866 0 0 0 .25-.607z" />
                </svg>
              </div>
              <em>{{orderLine.productTypeFormatted}}</em>

              <p class="product-price-line"><strong>{{orderLine.quantity}} stk. a</strong>  <span class="product-price">{{orderLine.unitPrice.withVatFormatted}}</span></p>
              <p class="product-price-line"><strong>Subtotal</strong> <span class="product-price">{{orderLine.totalPrice.withVatFormatted}}</span></p>
            </div>
          </li>
        </ul>
        <div class="mini-basket-footer">
          <p ng-if="miniBasket.model.shippingInformation.totalPrice.value>0" class="mini-basket-total">Shipping fee <span class="mini-basket-total-value">{{miniBasket.model.shippingInformation.totalPrice.withVatFormatted}}</span></p>
          <p class="mini-basket-total">Total (incl. VAT) <span class="mini-basket-total-value">{{miniBasket.model.totalPrice.withVatFormatted}}</span></p>
          <p class="mini-basket-total">VAT <span class="mini-basket-total-value">{{miniBasket.model.totalPrice.vatFormatted}}</span></p>

          <div class="buy-more" ng-if="miniBasket.leftoveramount > 0">
            <p ng-bind-html="miniBasket.rawFreeShippingText"></p>
            <a ng-href="{{miniBasket.model.freeShipping.buyMoreBtnLink}}" class="btn frontpage">{{miniBasket.model.freeShipping.buyMoreBtnText}}</a>

          </div>

          <a class="btn mini-basket-continue" href="/checkout/">To checkout</a>
        </div>
      </div>
      <div ng-if="!miniBasket.model.orderLines || miniBasket.model.orderLines.length === 0">
        <div class="mini-basket-footer">
          <p class="mini-basket-empty">Your basket is empty</p>
        </div>
      </div>
    </div>
  </div>
</mini-basket>

      </li>
      <li class="tool-btn">
        <subscription-header class="tool-container" ng-cloak>
  <a href="" ng-click="subHead.toogle()">
      <div class="icon-login"></div>
      <span>Library</span>
  </a>
  <div class="overlay" ng-if="subHead.isVisible">
    <div class="dropdown" click-outside="subHead.close()" outside-if-not="another-class">
        <h3>Log into my Library</h3>
        <form name="subHead.form" novalidate>
          <div class="form-group">
            <input type="text" name="subMail" id="subMail" ng-model="subHead.model.mail" required />
            <label for="subMail" class="control-label">E-mail address</label>
            <i class="bar"></i>
          </div>
          <div class="form-group">
            <input type="password" name="subPassword" id="subPassword" ng-model="subHead.model.password" required />
            <label for="subPassword" class="control-label">Password</label>
            <i class="bar"></i>
          </div>
          <div class="form-group">
            <button type="submit" class="btn" ng-click="subHead.signin()" ng-disabled="$ctrl.busy">Login</button>
          </div>
          <div class="error" ng-show="subHead.hasError">
            E-mail/adgangskode ikke fundet.
          </div>
          <div class="help">
            <a href ng-click="subHead.forgotPassword()">Forgot password?</a>
          </div>
        </form>
    </div>
  </div>
</subscription-header>
      </li>
    <li class="tool-btn search">
      <a href>
        <div class="icon-search"></div>
        <span>Search</span>
      </a>
      <div class="search-box">
        <form action="/find/" method="get">
          <input name="q" placeholder="Search by title, author or series" />
          <button type="submit">
            <div class="icon-search"></div>
          </button>
        </form>
      </div>
    </li>
    <li class="tool-btn burger">
      <a id="off-canvas-toggle" href="#main-nav">
        <div class="icon-burger"></div>
        <span>Nav</span>
      </a>
    </li>
  </ul>
</header>

  <div id='main'>

    <div id="sidebar">
      
<nav id="main-nav">
  <ul class="sf-menu">
          <li class="first multicolumn  " id="Fagomr&#xE5;der">

            <a href="/fagomraader/">Subjects</a>

              <span href="#Fagomr&#xE5;der" class="nav-trigger">Open</span>
              <ul>
                  <li>
                    <ul class="first">
                          <li class=" hidden-default">
                            <a href="/fagomraader/antropologi/">Anthropology</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/arkaeologi/">Archaeology</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/arkaeologi-klassisk/">Archaeology (classical)</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/arkaeologi-naerorientalsk/">Archaeology (Near Eastern)</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/arkitektur/">Architecture</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/arktiske-studier/">Arctic studies</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/kunst-og-aestetik/">Art</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/biologi/">Biology</a>
                          </li>
                    </ul>
                  </li>
                  <li>
                    <ul class="">
                          <li class=" hidden-default">
                            <a href="/fagomraader/antikforskning/">Classical studies</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/kulturhistorie/">Cultural studies</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/film-og-teater/">Drama</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/rusmiddelforskning/">Drug and alcohol research</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/oekonomi/">Economics</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/koensforskning/">Gender studies</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/sundhed/">Health</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/historie/">History</a>
                          </li>
                    </ul>
                  </li>
                  <li>
                    <ul class="">
                          <li class=" hidden-default">
                            <a href="/fagomraader/informationsteknologi/">Information technology</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/jura/">Law</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/sprog/">Linguistics</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/litteratur/">Literature</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/matematik/">Mathematics</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/museologi/">Museology</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/musik/">Music</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/naturvidenskab/">Natural science</a>
                          </li>
                    </ul>
                  </li>
                  <li>
                    <ul class="">
                          <li class=" hidden-default">
                            <a href="/fagomraader/paedagogik/">Pedagogics</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/filosofi-og-etik/">Philosophy</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/psykologi/">Psychology</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/religion/">Religion</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/samfundsvidenskab/">Social sciences</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/fagomraader/teologi/">Theology</a>
                          </li>
                    </ul>
                  </li>
              </ul>
          </li>
          <li class="multicolumn  js-listable-wrapper is-navigation listable-wrapper" id="Bogserier">

            <a href="/bogserier/">Book series</a>

              <span href="#Bogserier" class="nav-trigger">Open</span>
              <ul>
                  <li>
                    <ul class="first">
                            <li class=" visible">
                              <a href="/bogserier/100-danmarkshistorier/">100 danmarkshistorier</a>
                            </li>
                            <li class=" visible">
                              <a href="/bogserier/magtudredningen-20/">Magtudredningen 2.0</a>
                            </li>
                            <li class=" visible">
                              <a href="/bogserier/paedagogisk-raekkevidde/">P&#xE6;dagogisk r&#xE6;kkevidde</a>
                            </li>
                            <li class=" visible">
                              <a href="/bogserier/sciencefaction/">ScienceFaction</a>
                            </li>
                            <li class=" visible">
                              <a href="/bogserier/taenkepauser/">T&#xE6;nkepauser</a>
                            </li>
                            <li class=" visible">
                              <a href="/bogserier/vide-verden/">vide verden</a>
                            </li>
                          <a class="js-btn-show-all-bookseries btn book-series-button visible" style="margin: 20px 0 0 0px;float:  left;" data-open-text="Hide book series" data-closed-text="See all book series" data-isopen="false">See all book series</a>
                          <li class=" hidden-default">
                            <a href="/bogserier/100-danmarkshistorier/">100 danmarkshistorier</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/50-hoejdepunkter/">50 h&#xF8;jdepunkter</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/aarhus-studies-in-mediterranean-antiquity/">Aarhus Studies in Mediterranean Antiquity</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/antropologiske-studier/">Antropologiske studier</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/asterisk/">Asterisk</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/dansk-kommentar-til-det-nye-testamente/">Dansk kommentar til Det nye Testamente</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/didaktiske-studier/">Didaktiske studier</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/east-jutland-museum-publications/">East Jutland Museum Publications</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/empirisk-skole-og-dagtilbudsforskning-ncs/">Empirisk skole- og dagtilbudsforskning NCS</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/failaka-dilmun-the-second-millennium-settlements/">Failaka. Dilmun. The Second Millennium Settlements</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/failaka-ikaros/">Failaka. Ikaros</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/goesta-enbom-monographs/">G&#xF6;sta Enbom Monographs</a>
                          </li>
                    </ul>
                  </li>
                  <li>
                    <ul class="">
                          <li class=" hidden-default">
                            <a href="/bogserier/iea-studier/">IEA-studier</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/illerup-aadal/">Illerup &#xC5;dal</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/jysk-arkaeologisk-selskabs-skrifter/">Jysk Ark&#xE6;ologisk Selskabs Skrifter</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/kaupang/">Kaupang</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/magtudredningen-20/">Magtudredningen 2.0</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/magtudredningen-bogserien/">Magtudredningen, bogserien</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/magtudredningen-skriftserien/">Magtudredningen, skriftserien</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/miljoebiblioteket/">Milj&#xF8;biblioteket</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/monographs-of-the-danish-institute-at-athens/">Monographs of the Danish Institute at Athens</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/museum-oestjyllands-publikationer/">Museum &#xD8;stjyllands Publikationer</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/nfs-grundtvig-works-in-english/">N.F.S. Grundtvig: Works in English</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/nordisk-sprog-litteratur-og-medier/">Nordisk Sprog, Litteratur og Medier</a>
                          </li>
                    </ul>
                  </li>
                  <li>
                    <ul class="">
                          <li class=" hidden-default">
                            <a href="/bogserier/paedagogisk-indblik/">P&#xE6;dagogisk indblik</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/paedagogisk-raekkevidde/">P&#xE6;dagogisk r&#xE6;kkevidde</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/proceedings-of-the-danish-institute-at-athens/">Proceedings of the Danish Institute at Athens</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/proceedings-of-the-danish-institute-in-damascus/">Proceedings of the Danish Institute in Damascus</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/publications-of-the-national-museum-ethnographical-series/">Publications of the National Museum Ethnographical Series</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/reflections/">Reflections</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/religionsvidenskabelige-skrifter/">Religionsvidenskabelige skrifter</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/ribe-excavations/">Ribe Excavations</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/samfund-og-rusmidler/">Samfund og rusmidler</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/sciencefaction/">ScienceFaction</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/sociologiske-studier/">Sociologiske studier</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/store-komponister/">Store komponister</a>
                          </li>
                    </ul>
                  </li>
                  <li>
                    <ul class="">
                          <li class=" hidden-default">
                            <a href="/bogserier/taenkepauser/">T&#xE6;nkepauser</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/the-national-museum-of-denmark/">The National Museum of Denmark</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/the-nordic-world/">The Nordic World</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/tings-tale/">Tings Tale</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/univers/">Univers</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/verdensboeger/">Verdensb&#xF8;ger</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/verdenslitteratur/">Verdenslitteratur</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/vide-verden/">vide verden</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/bogserier/vikingetidens-ringborge/">Vikingetidens ringborge</a>
                          </li>
                    </ul>
                  </li>
                  <a class="js-btn-show-all-bookseries btn book-series-button hidden-default" style="margin: 20px 0 0 30px;float:  left;" data-open-text="Hide book series" data-closed-text="See all book series" data-isopen="false">See all book series</a>
              </ul>
          </li>
          <li class="parent " id="Tidsskrifter">

            <a href="/tidsskrifter/">Journals</a>

              <span href="#Tidsskrifter" class="nav-trigger">Open</span>
              <ul>
                  <li>
                    <ul class="first">
                          <li class=" hidden-default">
                            <a href="/tidsskrifter/kuml-aarbog-for-jysk-arkaeologisk-selskab/">KUML - &#xC5;rbog for Jysk Ark&#xE6;ologisk Selskab</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/tidsskrifter/passage/">Passage</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/tidsskrifter/slagmark/">Slagmark</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/tidsskrifter/sprogforum/">Sprogforum</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/tidsskrifter/gefjon/">Gefjon</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/tidsskrifter/tings-tale/">Tings Tale</a>
                          </li>
                    </ul>
                  </li>
              </ul>
          </li>
          <li class=" " id="Om forlaget">

            <a href="/om-forlaget/">About us</a>

          </li>
          <li class=" " id="Kontakt">

            <a href="/kontakt/">Contact us</a>

          </li>
          <li class="parent " id="Vilk&#xE5;r">

            <a href="/vilkaar/">Customer Services</a>

              <span href="#Vilk&#xE5;r" class="nav-trigger">Open</span>
              <ul>
                  <li>
                    <ul class="first">
                          <li class=" hidden-default">
                            <a href="/vilkaar/privatlivspolitik/">Privacy policy</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/vilkaar/handelsvilkaar/">Terms and conditions</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/vilkaar/tekst-og-datamining/">Tekst- og datamining</a>
                          </li>
                          <li class=" hidden-default">
                            <a href="/vilkaar/tilgaengelighed/">Accessibility requirement</a>
                          </li>
                    </ul>
                  </li>
              </ul>
          </li>
    <li>
      <a class="newsletterform">Newsletter</a>
    </li>
  </ul>
</nav>

<nav id="related">
  <ul>
      <li class="">
        <a href="/udgivelser/?mode=past">Latest releases</a>
      </li>
      <li class="">
        <a href="/udgivelser/?mode=future&amp;page=1&amp;sort=releaseDate&amp;predicate=ascending">Upcoming releases</a>
      </li>
  </ul>
</nav>
    </div>

    
<section id="content" class="publicationPage" data-publication-key="c6f3d096-f5b4-4256-83be-e2f3bfee5dc0" itemprop="mainContentOfPage">
  <div itemscope="itemscope" itemtype="http://schema.org/Book" class="publication-detail">
    <div class="illustration">
      <div class="illustration-shadow">
        <img itemprop="image" alt="Cover" src="/media/11868/8788415066.jpg?width=360" width="360"/>
      </div>
    </div>
    <div class="book-info">
      <header id="title">
        <hgroup itemprop="name">
          <h1>Failaka/Dilmun: The Second Millennium Settlements. Danish Archaeological Investigations in Kuwait</h1>
          <h2>1: 1. The Stamp and Cylinder Seals</h2>
        </hgroup>

          <p class="affiliation">

            <span>A part of </span>

 the series       <a href="/bogserier/failaka-dilmun-the-second-millennium-settlements/">Failaka. Dilmun</a>
      <span class="seperator">, </span>
      <a href="/bogserier/jysk-arkaeologisk-selskabs-skrifter/">Jysk Ark&#xE6;ologisk Selskabs Skrifter</a>
      <span class="seperator"></span>
(17:1)


and
the subject area      <span itemprop="about" itemscope="itemscope" itemtype="http://schema.org/Thing">
        <a itemprop="url" href="/fagomraader/arkaeologi-naerorientalsk/"><span itemprop="name">Archaeology (Near Eastern)</span></a><span class="seperator"></span>
      </span>
          </p>
      </header>
      <div id="bookdata" ng-controller="ProductController as product" ng-init="product.getProductVariants(6697)">
          <meta itemprop="priceCurrency" content="DKK"/>
            <link itemprop="availability" href="http://schema.org/OutOfStock" />
          <hr/>
            <div class="outofstock">
              <p>Out of stock</p>
            </div>
              <div class="buy-menu expand" ng-cloak ng-class="variant.state" ng-init="variant.state = 'is-collapsed'" ng-repeat="variant in product.variants">
                <div class="btn buy-button" ng-class="{'expand-trigger': product.hasVariants(variant)}" ng-click="product.variantAction(variant)">
                  {{variant.title}}
                  <span ng-if="variant.variants.length >0">:</span>
                  <span class="buy-button__price" ng-if="variant.variants.length >0">{{variant.variants[0].price}}</span>
                  <span class="buy-button__price" ng-if="variant.variants.length == 0">{{variant.price}}</span>
                </div>
                <div class="expand-content" ng-if="variant.variants.length >0">
                  <div class="btn buy-button" ng-repeat="item in variant.variants" ng-click="product.variantAction(item)">
                    {{variant.title}} {{item.title}} <span class="buy-button__price"> {{item.price}}</span>
                  </div>
                </div>
              </div>
        <hr/>
        <div>
          <span itemprop="numberOfPages">171</span> pages ill.
        </div>
        <span itemprop="bookFormat" itemscope="itemscope" itemtype="http://schema.org/BookFormatType">
          <span itemprop="name">Hardback</span>
        </span>
        <div itemprop="datePublished">

          Published

          1. January 1983

        </div>

          <div itemprop="isbn">ISBN 87 8841 506 6</div>

        <hr/>
        <meta itemprop="inLanguage" content="en"/>
    <p class="authoredBy">
      By
      <br />
        <span itemscope="itemscope" itemtype="http://schema.org/Person">
          <span itemprop="name">
            <a itemprop="url" href="/forfattere/k/kjaerum-poul/">Poul Kj&#xE6;rum</a><span class="seperator"></span>
          </span>
        </span>
    </p>
        <hr/>
        <p>
          Share:

          <a class="share-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://en.unipress.dk/udgivelser/f/failakadilmun-the-second-millennium-settlements-danish-archaeological-investigations-in-kuwait/&amp;title=&quot;Failaka/Dilmun: The Second Millennium Settlements. Danish Archaeological Investigations in Kuwait&quot;, Aarhus University Press:" title="Share: LinkedIn">
            <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37">
              <circle fill="#C0C0C0" cx="18.5" cy="18.5" r="18.5"/>
              <g fill="#EFEFEF">
                <path d="M10.1 14.3h3.6V26h-3.6zM22.9 14.1c-2.4 0-3.1 1.4-3.5 1.8v-1.6h-3.5V26h3.6v-6.1c0-.8.2-2.7 2.2-2.7s1.9 1.9 1.9 1.9V26h3.6v-6.9c0-.9.3-5-4.3-5z"/>
                <circle cx="11.9" cy="10.7" r="2.1"/>
              </g>
            </svg>
          </a>
          <a class="share-twitter" href="http://twitter.com/share?url=https://en.unipress.dk/udgivelser/f/failakadilmun-the-second-millennium-settlements-danish-archaeological-investigations-in-kuwait/&amp;text=&quot;Failaka/Dilmun: The Second Millennium Settlements. Danish Archaeological Investigations in Kuwait&quot;, Aarhus University Press:" title="Share: Twitter">
            <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37">
              <circle fill="#C0C0C0" cx="18.5" cy="18.5" r="18.5"/>
              <path fill="#EFEFEF" d="M27.9 10.7c-.6.4-1.6 1-2.6.9-.6-.6-1.7-1.2-2.9-1.2s-4 .4-4 5c-1.1 0-6.4-1.2-8.3-4.3-.6 1.5-1 3.8 1.1 5.4-.8 0-1.2-.1-1.8-.4.5 1.8.8 3.2 3.2 4-.5.2-1.5.2-1.7.1.4.7.9 2.4 3.7 2.7-.9.8-3.4 2.1-5.9 1.7 1.9 1 3.5 1.8 6.1 1.8s10.9-1.2 11.5-11.9c.7-.7 1.7-1.6 2-2.2-.4.2-1.5.5-2.1.5 1-.5 1.7-1.6 1.7-2.1z"/>
            </svg>
          </a>
          <a class="share-facebook" href="http://www.facebook.com/sharer.php?u=https://en.unipress.dk/udgivelser/f/failakadilmun-the-second-millennium-settlements-danish-archaeological-investigations-in-kuwait/" title="Share: Facebook">
            <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37">
              <circle fill="#C0C0C0" cx="18.5" cy="18.5" r="18.5"/>
              <path fill="#EFEFEF" d="M22 12.4h1.7V9h-4c-2 0-3.6 1.6-3.6 3.6v2.2h-2.9v3.6h2.9v10.4h4.4V18.5h3.2v-3.6h-3.2v-1c.1-.9.7-1.5 1.5-1.5z"/>
            </svg>
          </a>
        </p>
      </div>
    </div>
    <h2 class="publication-details-header">More about the book</h2>
    <div id="text">
      <div id="book-info-tabs">
        <ul>
            <li>
              <a href="#description">About the book</a>
            </li>










        </ul>

          <div id="description">
            <h2>About the book</h2>
            <p>
              <p>.</p>
            </p>
          </div>








      </div>
    </div>
  </div>

  
<div class="graphic-spots">
  <div class="graphic-spots-column">
    <div class="graphic-spot">
      <a href="/bogserier/reflections/">
        <div class="spot-size-2 bg-lemon-grass">
            <div class="image-spot">
              <img src="/media/17256/unavngivet.png" width="446" height="356" alt="rejsespot" />
            </div>
        </div>
        <h4>Reflections</h4>
      </a>
    </div>
    <div class="graphic-spot">
      <a href="/bogserier/the-nordic-world/">
        <div class="spot-size-2 bg-lemon-grass">
            <div class="image-spot center-content">
              <img src="/media/19863/unavngivet-1.jpg" width="446" height="356" alt="rejsespot" />
            </div>
        </div>
        <h4>The Nordic World</h4>
      </a>
    </div>
  </div>
  <div class="graphic-spots-column">
    <div class="graphic-spot">
      <div class="spot-size-3 bg-mint">
        <div class="ebook-spot container">
            <h2>New release</h2>
          <hr />
            <div class="publication" itemscope="itemscope" itemtype="http://schema.org/Book">
              <a href="/udgivelser/a/arne-jacobsen/" itemprop="url">
                <div class="illustration ">
                    <img itemprop="image" alt="Cover" src="/media/20334/arne-jacobsenjpg.png?width=200">
                </div>
                <div class="details">
                  <div class="info">
                    <hgroup>
                      <h2 class="h3 tight-b">Arne Jacobsen</h2>
                      <h3 class="tight-t">Designing Denmark</h3>
                    </hgroup>

                      <p class="editedBy">
                        Edited by       <span itemscope="itemscope" itemtype="http://schema.org/Person"><span itemprop="name">Katrine Stenum Poulsen</span></span>
                      </p>

                  </div>

                    <p class="description">
                      Dive into the creative world of designer-architect Arne Jacobsen, a visionary titan of mid-century modernism.
Arne Jacobsen was one of the most influe&hellip;
                    </p>
                </div>
              </a>
            </div>
        </div>
      </div>
      <h4>New release</h4>
    </div>
      <div class="graphic-spot">
        <a href="/om-at-udgive/">
          <div class="spot-size-1 bg-melanie">
            <div class="statement-spot container">
              Publish with
              <br><span class="fat">Aarhus University Press</span>
            </div>
          </div>
          <h4>Publish with us</h4>
        </a>
      </div>

  </div>
    <div class="graphic-spots-column">
      <div class="graphic-spot">
        <a href="/udgivelser/">
          <div class="spot-size-2 bg-lemon-grass">
              <div class="image-spot center-content">
                <img src="/media/19869/unavngivet-2.jpg" width="446" height="356" alt="rejsespot" />
              </div>
          </div>
          <h4>Read more</h4>
        </a>
      </div>
      <div class="graphic-spot">
        <a href="/bogserier/aarhus-studies-in-mediterranean-antiquity/">
          <div class="spot-size-2 bg-water">
            <div class="image-spot center-content">
              <img src="/media/20331/asma.png" width="429" height="528" alt="aarhus-studies-spot">
            </div>
          </div>
          <h4>ASMA</h4>
        </a>
      </div>
    </div>
  <div class="graphic-spots-column spots-column-optional">
    <div class="graphic-spot">
      <a href="/om-forlaget/">
        <div class="spot-size-3 bg-light-blue newsblock">
          <div class="news-spot container">
            <h2>About the Press</h2>
            <hr />
            <h3>This is us</h3>
            <p><span>The Press publishes scientific literature and more mainstream publications such as the series Reflections. All books share a strong scholarly base.</span></p>
<p><span>The most important task of the Press is to disseminate and make known the results of scientific research at Aarhus University, but the Press also publishes scientific work from other institutions.</span></p>
          </div>
        </div>
        <h4>More about us</h4>
      </a>
    </div>
      <div class="graphic-spot">
        <a class="newsletterform" href="">
          <div class="spot-size-1 bg-mint">
            <div class="statement-spot container">
              Subscribe
              <br>
              to our<br><span class="fat">newsletter</span>
            </div>
          </div>
          <h4>Subscribe</h4>
        </a>
      </div>
  </div>
</div>




    <aside id="relatedPublications">
      <h2 class="publications-header">Others have also seen</h2>

      

<ul id="publications">
    <li class="publication" itemscope="itemscope" itemtype="http://schema.org/Book">
      <a class="select-publication" href="/udgivelser/c/copper-cuneiform-inscriptions-and-other-finds/" itemprop="url" data-publication-key="dcee70e9-1ed5-472a-ab55-fa495116408e">
        <div class="illustration ">
            <img itemprop="image" alt="Cover" src="/media/20834/vol-6-copper-cuneiform-and-other-finds.png?width=200">
        </div>
        <div class="details">
          <div class="info">
            <hgroup>
              <h2 class="h3 tight-b">Failaka/Dilmun. The Second Millennium Settlements. Volume 6</h2>
              <h3 class="tight-t">Copper, Cuneiform Inscriptions and Other Finds</h3>
            </hgroup>

              <p class="editedBy">
                Edited by
      <span itemscope="itemscope" itemtype="http://schema.org/Person"><span itemprop="name">Flemming H&#xF8;jlund</span></span>
              </p>

          </div>

            <p class="description">
              Excavations in 1958-1963 of two tells on the island of Failaka in Kuwait, Tell F3 and Tell F6, uncovered a small Dilmun community from the second mill&hellip;
            </p>

          <div class="price-container">
            <div class="price">300,00 kr.</div>
          </div>
        </div>
      </a>
    </li>
    <li class="publication" itemscope="itemscope" itemtype="http://schema.org/Book">
      <a class="select-publication" href="/udgivelser/f/danish-archaeological-investigations-on-failaka-kuwait/" itemprop="url" data-publication-key="1e841027-4e23-41f2-9421-ab03555c4f6e">
        <div class="illustration has-ebook has-ebook-en">
            <img itemprop="image" alt="Cover" src="/media/19151/failaka-vol-5_the-beads_front-002.jpg?width=200">
        </div>
        <div class="details">
          <div class="info">
            <hgroup>
              <h2 class="h3 tight-b">Danish Archaeological Investigations on Failaka, Kuwait, Failaka/Dilmun. The Second Millennium Settlements</h2>
              <h3 class="tight-t">Volume 5 The Beads</h3>
            </hgroup>
              <p class="authoredBy">
                By
      <span itemscope="itemscope" itemtype="http://schema.org/Person"><span itemprop="name">Ann Andersson</span></span>
              </p>


                <p>(book + e-book)</p>
          </div>

            <p class="description">
              Excavations in 1958-1963 on the island of Failaka in Kuwait uncovered a small community of Dilmun traders from the second millennium BC. Prominent amo&hellip;
            </p>

          <div class="price-container">
            <div class="price">150,00 kr.</div>
          </div>
        </div>
      </a>
    </li>
    <li class="publication" itemscope="itemscope" itemtype="http://schema.org/Book">
      <a class="select-publication" href="/udgivelser/f/failaka-dilmun-the-second-millennium-settlements/" itemprop="url" data-publication-key="1beceeb1-b75f-4422-85bb-d586bec0aee8">
        <div class="illustration ">
            <img itemprop="image" alt="Cover" src="/media/11850/the_stone_vessels.jpg?width=200">
        </div>
        <div class="details">
          <div class="info">
            <hgroup>
              <h2 class="h3 tight-b">Failaka/Dilmun. The Second Millennium Settlements. Danish Archaoological Investigations on Failaka, Kuwait</h2>
              <h3 class="tight-t">4. The Stone Vessels</h3>
            </hgroup>
              <p class="authoredBy">
                By
      <span itemscope="itemscope" itemtype="http://schema.org/Person"><span itemprop="name">Anna Hilton</span></span>
              </p>


          </div>

            <p class="description">
              For purchases outside of Denmark:
If you are located in the USA or Canada, please contact our US distributor, Longleaf Services, at&nbsp;orders@longle&hellip;
            </p>

          <div class="price-container">
            <div class="price">298,00 kr.</div>
          </div>
        </div>
      </a>
    </li>

</ul>


    </aside>
  
  <div class="cookie-consent-box">
    <div class="close"></div>
    <p>To download e-books you must say yes to Statistical cookies. </p>
    <button class="btn reopen">Reopen cookie selector</button>
  </div>
</section>




  </div>
  

<footer class="page-foot" role="contentinfo">
  <div class="footer-spots">
    <div class="spot-newsletter">
      <h2 class="newsletter-header">Newsletter</h2>
      <p></p>
      <p class="spot-newsletter__payoff">Sign up for our newsletter and stay updated on the newest books, activities and exciting offers.</p>
      <a class="btn newsletterform">Subscribe to newsletter</a>
    </div>
    <div class="spot-contact">
      <div itemscope="itemscope" itemtype="http://schema.org/Organization">
        <h2 itemprop="name">Aarhus University Press</h2>
        <div itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">Helsingforsgade 25</span>
          <br />
          <span itemprop="postalCode">8200</span>
          <span itemprop="addressLocality">Aarhus N</span>
        </div>
        <p>Cell phone: <a href="tel:+4553550542" itemprop="Cell phone">+45 53 55 05 42</a><br />E-mail: <a href="mailto:[redacted-email]" itemprop="email">[redacted-email]</a></p>
      </div>
      <a class="btn" href="/kontakt/">Find Employee</a>
    </div>
  </div>
</footer>
</div>

<div id="overlay">
  <iframe src="about:blank" width="640" height="360" frameborder="0"></iframe>
</div>

<div class="basket-notification ng-cloak ng-hide" ng-controller="NotificationController as notification" ng-show="notification.active" ng-click="notification.close()">
  <div class="basket-notification-content">
    <div class="top-bar">
      <h3>Tilføjet til kurven</h3>
      <div class="close-notification" ng-click="notification.close()">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
          <defs>
            <style>
              .cls-1 { fill: #fff; fill-rule: evenodd; }
            </style>
          </defs>
          <path class="cls-1" d="M11.016 9.416a.866.866 0 0 0-.25-.607L8.14 6.184l2.626-2.625a.862.862 0 0 0 0-1.214L9.552 1.132a.862.862 0 0 0-1.214 0L5.713 3.757 3.09 1.132a.862.862 0 0 0-1.215 0L.66 2.346a.862.862 0 0 0 0 1.214l2.625 2.625L.66 8.81a.862.862 0 0 0 0 1.213l1.215 1.214a.862.862 0 0 0 1.214 0l2.623-2.624 2.624 2.624a.862.862 0 0 0 1.214 0l1.215-1.214a.866.866 0 0 0 .25-.607z" />
        </svg>
      </div>
    </div>
    <div class="buy-more">
      <p ng-bind-html="freeShipping()"></p>
    </div>
    <button class="btn btn-gray" ng-click="notification.close()">Fortsæt med at handle</button>
    <a class="btn" href="/checkout/">Gå til kassen</a>
  </div>
</div>


  <script src="/wwwroot/unipress-vendor.js?261120251553"></script>
  <script src="/wwwroot/unipress.js?v=261120251553"></script>

  

  
</body>
</html>
